._assets
._projects
._.git
._readme.md
._.gitignore
._.vscode
.vscode/._settings.json
assets/._atomicML.png
projects/._house
projects/._melbourne
projects/._spam
projects/._spendingScore
projects/._wineQuality
projects/fruitClassifier/._main.py
projects/house/._housePrices.ipynb
projects/melbourne/._melbourne.ipynb
projects/spam/._spam.ipynb
projects/spendingScore/._Mall_Customers.csv
projects/spendingScore/._spendingScore.ipynb
projects/wineQuality/._wine_Quality.csv
projects/wineQuality/._wineQuality.ipynb
projects/house/._HousingPriceTest.csv
projects/house/._HousingPriceTrain.csv
projects/melbourne/._Melbourne_data.csv
projects/spam/._mail_data.csv
projects/spam/mail_data.csv
projects/melbourne/melbourne_data.csv
projects/house/HousingPriceTest.csv
projects/house/HousingPriceTrain.csv
projects/netflix/makeRecommendations/._netflix.py
projects/netflix/similarity/._netflix.py
projects/netflix/similarity/._netflix.zip
projects/predictingHousingPricesInCalifornia/._california_housing.csv
projects/predictingHousingPricesInCalifornia/._predictingHousingPricesInCalifornia.ipynb
projects/predictingHousingPricesInCalifornia/._predictingHousingPricesInCalifornia.py
projects/predictingHousingPricesInCalifornia/._predictingHousingPricesInCalifornia.zip
projects/predictingHousingPricesInCalifornia/predictingHousingPricesInCalifornia.zip
projects/predictingHousingPricesInCalifornia/rfr_model.pkl
projects/californianHousing/._california_housing.csv
projects/californianHousing/._predictingHousingPricesInCalifornia.py
projects/californianHousing/._predictingHousingPricesInCalifornia.zip
projects/californianHousing/predictingHousingPricesInCalifornia.zip
projects/californianHousing/rfr_model.pkl
projects/._heartDisease
projects/heartDisease/._Heart_Disease_Prediction.csv
projects/heartDisease/._predictingHeartDisease.ipynb
projects/heartDisease/._predictingHeartDisease.py
projects/titanic/._gender_submission.csv
projects/titanic/._predictingSurvivalOnTheTitanic.py
projects/titanic/._Titanic_test.csv
projects/titanic/._Titanic_train.csv
projects/titanic/._titanic.zip
projects/titanic/gender_submission.csv
projects/titanic/titanic.zip
projects/._titanic
projects/._diabetes
projects/._movies
projects/titanic/submission.csv
projects/movies/._movieRecommendationSystem.py
projects/movies/._movies.csv
projects/._readme.md
projects/diabetes/._diabetes.csv
projects/diabetes/._predictingDiabetes.ipynb
projects/diabetes/._predictingDiabetes.py
projects/._parkinson
projects/parkinson/._parkinson_disease.csv
projects/parkinson/._predictingParkinson'sDisease – Datalore.pdf
projects/parkinson/._predictingParkinson'sDisease.ipynb
projects/parkinson/._predictingParkinson'sDisease.py
projects/parkinson/readme.md
projects/gdprComplianceAudit/rfr_model.pkl
projects/gdprComplianceAudit/.vscode/settings.json
._.idea
projects/._mnist
projects/mnist/.idea/._mnist.iml
projects/mnist/.idea/._modules.xml
projects/mnist/.idea/._vcs.xml
projects/mnist/.idea/._workspace.xml
projects/mnist/._mnistHandwrittenDigitRecognition.ipynb
projects/mnist/._mnistHandwrittenDigitRecognition.py
projects/spacecraft/._theTitanicSpacecraft.ipynb
projects/spacecraft/._theTitanicSpacecraft.py
projects/spacecraft/._SpaceshipTitanic_Test.csv
projects/spacecraft/._SpaceshipTitanic_Train.csv
projects/tesla/._tesla_2014_2023.csv
projects/tesla/._tesla.ipynb
projects/tesla/._tesla.py
projects/studentPerformance/.idea/._misc.xml
projects/studentPerformance/._.DS_Store
projects/studentPerformance/._Student_Performance.csv
projects/studentPerformance/._studentPerformance.ipynb
projects/studentPerformance/._studentPerformance.py
projects/studentPerformance/.DS_Store
projects/._studentPerformance
projects/studentPerformance/.idea/._workspace.xml
projects/mnist/._.DS_Store
projects/mnist/._mnist-original.mat
projects/mnist/.DS_Store
projects/mnist/mnist-original.mat
projects/mnist/mnistHandwrittenDigitRecognition.py
projects/mnist/.ipynb_checkpoints/._mnistHandwrittenDigitRecognition-checkpoint.ipynb
projects/mnist/._.ipynb_checkpoints
projects/mnist/._.venv
projects/mnist/.ipynb_checkpoints/mnistHandwrittenDigitRecognition-checkpoint.ipynb
projects/mnist/.idea/._misc.xml
projects/mnist/.idea/.gitignore
projects/mnist/.idea/misc.xml
projects/mnist/.idea/mnist.iml
projects/mnist/.idea/modules.xml
projects/mnist/.idea/vcs.xml
.idea/._inspectionProfiles
.idea/._machineLearning.iml
.idea/._misc.xml
.idea/._modules.xml
.idea/._vcs.xml
.idea/._workspace.xml
.idea/.gitignore
.idea/machineLearning.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/._profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
projects/clusteringOnIrisData/.idea/._.DS_Store
projects/clusteringOnIrisData/.idea/._clusteringOnIrisData.iml
projects/clusteringOnIrisData/.idea/._inspectionProfiles
projects/clusteringOnIrisData/.idea/._misc.xml
projects/clusteringOnIrisData/.idea/._modules.xml
projects/clusteringOnIrisData/.idea/._runConfigurations
projects/clusteringOnIrisData/.idea/._vcs.xml
projects/clusteringOnIrisData/.idea/._workspace.xml
projects/clusteringOnIrisData/.idea/.DS_Store
projects/clusteringOnIrisData/.idea/.gitignore
projects/clusteringOnIrisData/.idea/clusteringOnIrisData.iml
projects/clusteringOnIrisData/.idea/misc.xml
projects/clusteringOnIrisData/.idea/modules.xml
projects/clusteringOnIrisData/.idea/vcs.xml
projects/clusteringOnIrisData/.idea/inspectionProfiles/._Project_Default.xml
projects/clusteringOnIrisData/.idea/inspectionProfiles/Project_Default.xml
projects/clusteringOnIrisData/.idea/runConfigurations/._venv.xml
projects/clusteringOnIrisData/.idea/runConfigurations/venv.xml
projects/clusteringOnIrisData/._.DS_Store
projects/clusteringOnIrisData/._.venv
projects/clusteringOnIrisData/._clusturingOnIrisData_plus.ipynb
projects/clusteringOnIrisData/._clusturingOnIrisData_plus.py
projects/clusteringOnIrisData/._clusturingOnIrisData.ipynb
projects/clusteringOnIrisData/._clusturingOnIrisData.pdf
projects/clusteringOnIrisData/._clusturingOnIrisData1.ipynb
projects/clusteringOnIrisData/._kmeans_iris.pkl
projects/clusteringOnIrisData/.DS_Store
projects/clusteringOnIrisData/._clusturingOnIrisData.py
projects/clusteringOnIrisData/clusturingOnIrisData_plus.ipynb
projects/clusteringOnIrisData/clusturingOnIrisData_plus.py
projects/clusteringOnIrisData/clusturingOnIrisData.pdf
projects/clusteringOnIrisData/clusturingOnIrisData1.ipynb
projects/._clusteringOnIrisData
projects/clusteringOfCustomersInAShoppingMall/.idea/._misc.xml
projects/clusteringOfCustomersInAShoppingMall/.idea/._vcs.xml
projects/clusteringOfCustomersInAShoppingMall/.idea/._workspace.xml
projects/clusteringOfCustomersInAShoppingMall/.idea/.gitignore
projects/clusteringOfCustomersInAShoppingMall/.idea/misc.xml
projects/clusteringOfCustomersInAShoppingMall/.idea/vcs.xml
projects/clusteringOfCustomersInAShoppingMall/.ipynb_checkpoints/clusteringOfCustomersInAMall-checkpoint.ipynb
projects/clusteringOfCustomersInAShoppingMall/._clusteringOfCustomersInAMall.ipynb
projects/clusteringOfCustomersInAShoppingMall/._clusteringOfCustomersInAMall.py
projects/clusteringOfCustomersInAShoppingMall/._Mall_Customers.csv
projects/clusteringOfCustomersInAShoppingMall/clusteringOfCustomersInAMall.py
._venv
