._assets
._projects
._.git
._readme.md
._.gitignore
._.vscode
.vscode/._settings.json
assets/._atomicML.png
projects/._house
projects/._melbourne
projects/._spam
projects/._spendingScore
projects/._wineQuality
projects/fruitClassifier/._main.py
projects/house/._housePrices.ipynb
projects/melbourne/._melbourne.ipynb
projects/spam/._spam.ipynb
projects/spendingScore/._Mall_Customers.csv
projects/spendingScore/._spendingScore.ipynb
projects/wineQuality/._wine_Quality.csv
projects/wineQuality/._wineQuality.ipynb
projects/house/._HousingPriceTest.csv
projects/house/._HousingPriceTrain.csv
projects/melbourne/._Melbourne_data.csv
projects/spam/._mail_data.csv
projects/spam/mail_data.csv
projects/melbourne/melbourne_data.csv
projects/house/HousingPriceTest.csv
projects/house/HousingPriceTrain.csv
projects/netflix/makeRecommendations/._netflix.py
projects/netflix/similarity/._netflix.py
projects/netflix/similarity/._netflix.zip
projects/predictingHousingPricesInCalifornia/._california_housing.csv
projects/predictingHousingPricesInCalifornia/._predictingHousingPricesInCalifornia.ipynb
projects/predictingHousingPricesInCalifornia/._predictingHousingPricesInCalifornia.py
projects/predictingHousingPricesInCalifornia/._predictingHousingPricesInCalifornia.zip
projects/predictingHousingPricesInCalifornia/predictingHousingPricesInCalifornia.zip
projects/predictingHousingPricesInCalifornia/rfr_model.pkl
projects/californianHousing/._california_housing.csv
projects/californianHousing/._predictingHousingPricesInCalifornia.py
projects/californianHousing/._predictingHousingPricesInCalifornia.zip
projects/californianHousing/predictingHousingPricesInCalifornia.zip
projects/californianHousing/rfr_model.pkl
projects/._heartDisease
projects/heartDisease/._Heart_Disease_Prediction.csv
projects/heartDisease/._predictingHeartDisease.ipynb
projects/heartDisease/._predictingHeartDisease.py
projects/titanic/._gender_submission.csv
projects/titanic/._predictingSurvivalOnTheTitanic.py
projects/titanic/._Titanic_test.csv
projects/titanic/._Titanic_train.csv
projects/titanic/._titanic.zip
projects/titanic/gender_submission.csv
projects/titanic/titanic.zip
projects/._titanic
projects/._diabetes
projects/._movies
projects/titanic/submission.csv
projects/movies/._movieRecommendationSystem.py
projects/movies/._movies.csv
projects/._readme.md
