._assets
._projects
._.git
._readme.md
._.gitignore
._.vscode
.vscode/._settings.json
assets/._atomicML.png
projects/._house
projects/._melbourne
projects/._spam
projects/._spendingScore
projects/._wineQuality
projects/fruitClassifier/._main.py
projects/house/._housePrices.ipynb
projects/melbourne/._melbourne.ipynb
projects/spam/._spam.ipynb
projects/spendingScore/._Mall_Customers.csv
projects/spendingScore/._spendingScore.ipynb
projects/wineQuality/._wine_Quality.csv
projects/wineQuality/._wineQuality.ipynb
projects/house/._HousingPriceTest.csv
projects/house/._HousingPriceTrain.csv
projects/melbourne/._Melbourne_data.csv
projects/spam/._mail_data.csv
projects/spam/mail_data.csv
projects/melbourne/melbourne_data.csv
projects/house/HousingPriceTest.csv
projects/house/HousingPriceTrain.csv
projects/netflix/makeRecommendations/._netflix.py
projects/netflix/similarity/._netflix.py
projects/netflix/similarity/._netflix.zip
